# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv

# Environment variables & secrets
.env

# Database
*.db
*.sqlite
*.sqlite3

# Vercel
.vercel

# IDE & OS files
.DS_Store
.vscode/
.idea/
